<header class="max-w-[1400px] mx-auto p-8 flex justify-between items-center">
    <img src="/logo.svg" alt="Logo de Infojobs" class="w-auto h-8"/>

    <a  class="text-lg font-medium bg-primary text-white rounded-full py-2 px-4 hover:saturate-150 transition"
        href="https://www.infojobs.net/candidate/candidate-login/candidate-login.xhtml">
        Crea tu cuenta
    </a>
</header>